.cart-container {
    width: 1600px;
    margin: auto;
    padding: 8.5rem 5rem;
    max-height: auto;
    height: 87.3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d6dbe5;
    border-radius: 5px;
}

.details_card {
    width: 700px;
    height: 500px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.delivery_method {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.delivery_method label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.delivery_method input[type="radio"] {
    margin-right: 5px;
}

.delivery_method h1 {
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
}

#details-h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: dancing script;
    font-size: 50px;
    letter-spacing: 3px;
    color: #4ca59b;
}

.summary_card {
    background-color: #fff;
    width: 350px;
    height: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.cart_item {
    display: flex;
    position: relative;
    margin: 10px 0;
}

.close-btn {
    position: absolute;
    right: 2px;
    top: 5px;
    border: none;
    color: red;
}

.product_img img {
    height: 80px;
    margin-right: 20px;
    width: 70px;
    border-radius: 5px;
}

.product_info h1 {
    font-size: 20px;
    color: #1e212d;
    margin: 5px 0;
    width: 12rem;
    word-wrap: break-word;
}

.order_price,
.order_service,
.order_total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.order_price p,
.order_service p {
    color: #a1a1a1;
}

.pickup_card {
    background-color: rgb(228, 235, 228);
    margin-top: 40px !important;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.multiple_pickup_addresses {
    background-color: rgb(255, 255, 255);
    width: 480px;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    max-height: auto;
    overflow-y: scroll;
    height: 150px;
}

.single_pickup_address {
    background-color: rgb(255, 255, 255);
    width: 480px;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    height: 150px;

}

.summary_items {
    height: auto;
    overflow-y: scroll;
    height: 200px;
}

.multiple_pickup_addresses li,
s .single_pickup_address p {
    margin-left: 10px;
}

.multiple_pickup_addresses h2,
.single_pickup_address h2 {
    margin-bottom: 20px;
    color: #4ca59b;

}

.pickup_card h2 {
    font-size: 18px;
    margin-left: 5px;
}

.pickup_card label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 15px;

}

.name_address input, .address select {
    outline: 0;
    background: #f2f2f2af;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin: 10px 15px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(95, 95, 95);
}

.first_lastName,
.pickup_card,
.address {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.pickup_details {
    width: 100%;
    height: auto;
    border: 2px solid #53b5aa;
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px;
    line-height: 25px;
}

.proceed button {
    padding: 10px 20px;
    width: 200px;
    border: 2px solid #f5f5f5;
    background-color: #53b5aa;
    color: #000;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.name_address {
    margin-top: 40px;
}

/* //success */
.success_page{
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;

}
.success_page h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.success_page p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

.success_page i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.success_card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

.check_div {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #F8FAF5;
    margin: 0 auto;
}