:root {
    --primary-color: rgb(187, 145, 145);
    --secondary-color: hsl(6, 100%, 98%);
}

.slider-body {
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 78vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: hsl(0deg 0% 99.76%);
}

.wrapper {
    height: 100%;
    display: flex;
    transition: 1s ease;
}

.slide {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.img-container,
.title-container {
    flex: 1;
    height: 100%;
}

.img-container img {
    height: 85%;
    width: auto;
    max-width: 100%;
}

.title-container {
    padding: 3.125rem;
}

.title-carousel {
    margin-top: 8rem;
    font-size: 3rem;
    font-family: Gelica, Georgia, system-ui, cursive;
    letter-spacing: 5px;
}

.desc {
    font-size: 1.5rem;
    margin-top: 4rem;
    letter-spacing: 2px;
    line-height: 40px;
    padding-top: 20px;
    word-wrap: break-word;
    color: rgb(70, 70, 70);
    font-family: 'Times New Roman', Times, serif;
}

.about-body {
    height: 400vh;
    display: flex;
    margin-bottom: 100px;
}


.aurora-header {
    font-size: 1.6rem;
    color: black;
    text-align: center;
    line-height: 2.2rem;
    letter-spacing: 0.3rem;
    width: 100%;
    height: 7rem;
    position: absolute;
    top: 47rem;
    font-family: Gelica, Georgia, system-ui, cursive;
}

.reasons-why {
    position: absolute;
    width: 100%;
    margin-top: 55rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    line-height: 2.2rem;
    letter-spacing: 0.25rem;
    height: 52vh;
    padding-top: 13px;
    background-color: rgba(245, 243, 243, 0.508);
}

.how-title {
    position: absolute;
    font-size: 2rem;
    color: black;
    text-align: center;
    width: 100%;
    top: 95rem;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    font-family: Gelica, Georgia, system-ui, cursive;
    font-style: italic;
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 92rem;
    position: absolute;
}

.image {
    width: 25%;
    height: auto;
    max-width: 100%;
    margin-left: 50px;
}

.content {
    flex-grow: 1;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    padding: 100px;
}

.most-popular {
    position: absolute;
    margin-top: 137rem;
    margin-left: 49rem;
}

.star-icon {
    width: 110%;
}

.star-icon img {
    width: 120%;
}

.category-boxes {
    padding-top: 3.5rem;
    width: 100%;
    position: absolute;
    top: 148.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    flex-direction: column;
    background-color: rgba(245, 243, 243, 0.508);
}

.category {
    border-radius: 5px;
    flex: 1;
    padding: 12px;
    margin: 30px;
    width: 8rem !important;
    height: 10rem;
    text-align: center;
    cursor: pointer;
    background: white;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgb(230, 232, 253);
}

.row {
    display: flex;
    flex: 1;
}

.category h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: normal;
    width: 100%;
    color: black;
}

.category img {
    width: 5rem;
}

.category:hover {
    border: 1px solid #00838d;
    transform: scale(1.05);
    transition: 0.5s all;

}

.guide {
    position: absolute;
    top: 183rem;
    left: 13rem;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.how-to {
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 192rem;
    margin-left: 27rem;
    width: 60%;
    background-color: rgba(245, 243, 243, 0.508);
}

.how-image {
    width: 55%;
}

.how-image img {
    width: 80%;
    height: auto;
    margin-left: -115px;
}

.list-container {
    width: 50%;
    margin-right: 70px;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 73px;
    margin-top: 33px;
}

.list-container h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: -25px;
}

.list-container ol {
    padding: 0;
}

.list-container li {
    font-size: 1.7rem;
    font-weight: bold;
}

.list-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


/* card stuff */

.card {
    position: relative;
    max-width: 300px;
    height: auto;
    background: linear-gradient(-45deg, #fe0847, #feae3f);
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 15px rgba(217, 217, 217, 0.1);
    -webkit-transition: .5s;
    transition: .5s;
    border: none !important
}
.row1{
    display: flex;

    padding: 0 !important;}
.card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
    margin-right: -50px;
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
    background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
    margin-left: -40px;
}

.card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    -webkit-transform: skewY(-5deg) scale(1.5);
    transform: skewY(-5deg) scale(1.5);
}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 2rem !important;
    z-index: 2;
}

.option ul {
    margin: 0;
    padding: 0;

}

.option ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
}

.card a {
    position: relative;
    z-index: 2;
    background: #fff;
    color: rgb(68, 67, 67);
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    text-decoration: none;

}

.card a:hover {
    text-decoration: none;
}


@media (max-width: 575px) {
    .intro-container {
        flex-direction: row;
        margin-top: 65rem;
        width: 400%;
    }

    .intro-container img {
        display: none;
    }

    .slider-body {
        display: none;
    }

    .aurora-header {
        font-size: 1.6rem;
        color: white;
        text-align: center;
        line-height: 2.5rem;
        letter-spacing: 0.25rem;
        width: 400%;
        height: 14rem;
        padding: 2rem;
        position: absolute;
        top: 15rem;
        background-color: rgb(235, 118, 118);
    }

    .content {
        position: absolute;
        width: 100%;
        margin-top: 15rem;
        line-height: 3rem;
        padding-right: 5rem !important;
        background-color: rgb(235, 118, 118);
        margin-left: -2rem;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        color: white;

    }

    .how-title {
        width: 400%;
        top: 60rem;
    }

    .image {
        width: 80%;
        margin-left: 0;
    }

    .content {
        padding: 50px;
    }

    .most-popular {
        display: none;
    }

    .category-boxes {
        width: 400%;
        top: 100rem;
        padding-top: 3rem;
        border: 1px solid rgb(235, 118, 118);
    }

    .guide {
        width: 400%;
        top: 140rem;
        left: 2rem;
    }

    .how-to {
        position: absolute;
        left: 20rem;
        width: 300%;
        margin-left: 0;
        margin-top: 160rem;
        margin-bottom: 10rem;
    }

    .list-container {
        height: 20rem;
        margin-top: -15rem;
        gap: 40px;
    }

    .list-container h2 {
        font-size: 1.5rem;
    }
}