:root {
    --primary-color: rgb(187, 145, 145);
    --secondary-color: hsl(6, 100%, 98%);
}

.slider-body {
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 78vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgb(182, 181, 181);
}

.wrapper {
    height: 100%;
    display: flex;
    transition: 1s ease;
}

.slide {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.img-container,
.title-container {
    flex: 1;
    height: 100%;
}

.img-container img {
    height: 85%;
    width: auto;
    max-width: 100%;
}

.title-container {
    padding: 3.125rem;
}

.title-carousel {
    margin-top: 5rem;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.desc {
    font-size: 1.5rem;
    margin-top: 3rem;
    letter-spacing: 2px;
    padding-top: 20px;
}

.btn-discover {
    font-size: 1.5rem;
    margin-top: 3rem;
    border-radius: 15px;
    border: none;
    height: 3rem;
    width: 10rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
}

.about-body {
    height: 400vh;
    display: flex;
    margin-bottom: 100px;
}


.aurora-header {
    font-size: 1.6rem;
    color: black;
    text-align: center;
    line-height: 2.2rem;
    letter-spacing: 0.25rem;
    width: 100%;
    height: 7rem;
    position: absolute;
    top: 47rem;
}

.reasons-why {
    position: absolute;
    width: 100%;
    margin-top: 55rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    line-height: 2.2rem;
    letter-spacing: 0.25rem;
    background-color: var(--secondary-color);
    height: 30vh;
    padding-top: 12px;
}

.reason-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    background: rgba(255, 255, 255, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.reason {
    width: 265px;
    height: 180px;
    margin: 0 40px;
    padding: 10px 5px;
}

.reason h1 {
    font-weight: normal;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin-top: 7px;

}

.reason p {
    letter-spacing: normal;
    font-size: 1.25rem;
    line-height: 2rem;
    color: rgb(111, 111, 111);
    margin-top: 10px;
}

.how-title {
    position: absolute;
    font-size: 2rem;
    color: black;
    text-align: center;
    width: 100%;
    top: 91rem;
    line-height: 2.2rem;
    letter-spacing: 0.25rem;
}

.info-image {
    position: absolute;
    top: 81rem;
    text-align: center;
    left: 43rem;
}

.info-image img {
    width: 25%;
    height: 20%;
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 92rem;
    position: absolute;
}

.image {
    width: 25%;
    height: auto;
    max-width: 100%;
    margin-left: 50px;
}

.content {
    flex-grow: 1;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    padding: 100px;
}

.most-popular {
    position: absolute;
    margin-top: 137rem;
    margin-left: 49rem;
}

.star-icon {
    width: 110%;
}

.star-icon img {
    width: 120%;
}

.category-boxes {
    padding-top: 2.5rem;
    width: 100%;
    position: absolute;
    top: 148.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background-color: white;
    border-radius: 16px;
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    flex-direction: column;
}


.category {
    border-radius: 20px;
    flex: 1;
    padding: 12px;
    margin: 30px;
    width: 9rem;
    height: 10rem;
    text-align: center;
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

.row {
    display: flex;
    flex: 1;
}

.category h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: normal;
    width: 100%;
    color: black;
}

.category img {
    width: 5rem;
}

.category:hover {
    border: 1px solid #00838d;
    transform: scale(1.05);
    transition: 0.5s all;

}

.guide {
    position: absolute;
    top: 183rem;
    left: 13rem;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.how-to {
    border-radius: 20px;

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 195rem;
    margin-left: 23rem;
    width: 60%;
    background-color: rgb(246, 239, 230);
}

.how-image {

    width: 55%;
}

.how-image img {
    width: 70%;
    height: auto;
}

.list-container {
    width: 50%;
    margin-right: 50px;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list-container h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: -25px;
}

.list-container ol {
    padding: 0;
}

.list-container li {
    font-size: 1.7rem;
    font-weight: bold;
}

.list-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


@media (max-width: 575px) {
    .intro-container {
        flex-direction: row;
        margin-top: 65rem;
        width: 400%;
    }

    .intro-container img {
        display: none;
    }

    .slider-body {
        display: none;
    }

    .aurora-header {
        font-size: 1.6rem;
        color: white;
        text-align: center;
        line-height: 2.5rem;
        letter-spacing: 0.25rem;
        width: 400%;
        height: 14rem;
        padding: 2rem;
        position: absolute;
        top: 15rem;
        background-color: rgb(235, 118, 118);
    }

    .content {
        position: absolute;
        width: 100%;
        margin-top: 15rem;
        line-height: 3rem;
        padding-right: 5rem !important;
        background-color: rgb(235, 118, 118);
        margin-left: -2rem;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        color: white;
        
    }

    .reasons-why {
        position: absolute;
        width: 400%;
        margin-top: 30rem;
        font-size: 1.5rem;
        color: black;
        background-color: var(--secondary-color);
        text-align: center;
        line-height: 2.2rem;
        letter-spacing: 0.25rem;
        height: 30vh;
        padding-top: 12px;
    }

    .info-image {
        display: none
    }

    .how-title {
        width: 400%;
        top: 60rem;
    }

    .image {
        width: 80%;
        margin-left: 0;
    }

    .content {
        padding: 50px;
    }

    .most-popular {
        display: none;
    }

    .category-boxes {
        width: 400%;
        top: 100rem;
        padding-top: 3rem;
        border: 1px solid rgb(235, 118, 118);
    }

    .guide {
        width: 400%;
        top: 140rem;
        left: 2rem;
    }

    .how-to{
        position: absolute;
        left: 20rem;
        width: 300%;
        margin-left: 0;
        margin-top: 160rem;
        margin-bottom: 10rem;
    }

    .list-container {
        height: 20rem;
        margin-top:-15rem;
        gap: 40px;
    }

    .list-container h2{
        font-size: 1.5rem;
    }
}