.slider-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 80vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slider-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow,
.right-arrow {
    position: absolute;
    width: 4rem;
    height: 4rem;
    color: black;
    cursor: pointer;
    opacity: 0.5;
}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 5px;
}

.wrapper {
    height: 100%;
    display: flex;
}

.slide {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
/* background-color: green; */
}

.imgcontainer,
.titlecontainer {
    flex: 1;
    height: 100%;
}

.imgcontainer img {
    height: 75%;
}

.titlecontainer {
    padding: 50px;
}

.title {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.desc {
    font-size: 1.5rem;
    margin-top: 3rem;
    letter-spacing: 2px;
}

.btn-discover {
    font-size: 1.5rem;
    margin-top: 3rem;
    border-radius: 15px;
    border: none;
    height: 3rem;
    width: 10rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: rgb(187, 145, 145);
    padding: 10px;
}