.registration-page {
    display: flex;
    height: 87.3vh;
    background-image: url("../../assets/formBackground.jpg");
    background-size: cover;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.registration-form {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 20px;
}

.title h2 {
    font-family: Gelica, Georgia, system-ui, cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 6px;
}
.item-button {
    margin-top: 10px;
}
.title h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}

.footer_bottom {
    background-color: rgb(237, 235, 235);
}

.register-error {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}