.main-container {
    min-height: calc(100vh-60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    width: 100%;
    background-color: #ebeaf2;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-product-page {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.add-product-page form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #header-add {
    background-color: rgb(83, 69, 162);
    font-size: 2rem;
    color: white;
    font-family: 'Cormorant', serif;
    text-align: center;
    letter-spacing: 5px;
    padding: 2px;
    margin-bottom: 2rem;
  }
  
  .item-category select {
    display: block;
    padding: 1.2rem;
    border: 1px solid rgb(159, 169, 206);
    border-radius: 0.6rem;
    margin-bottom: 1.25rem;
    resize: none;
  }
  
  .add-product-page textarea {
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem;
    border: 1px solid rgb(159, 169, 206);
    border-radius: 0.6rem;
    resize: none;
    margin-bottom: 1.25rem;
  }
  
  .add-product-page button {
    margin-top: 40px;
    margin-bottom: 37px;
    background-color: rgb(83, 69, 162);
    color: white;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .item-title input,
  .item-price input {
    display: block;
    width: 100%;
    padding: 1.2rem;
    border: 1px solid rgb(159, 169, 206);
    border-radius: 0.6rem;
    margin-bottom: 1.25rem;
  }
  
  .item-image label,
  .item-title label,
  .item-description label,
  .item-category label,
  .item-price label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  #image-id{
    width: 250px;
    height: 300px;
  }

  #add-more-prod{
    margin-top: 5.5rem;
  }
.error {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
    letter-spacing: 1px;
  }

/* Media Queries for Responsiveness */
