.mainContainer {
  min-height: 100vh;
  display: flex;
  height: 85.5vh;
}

.users {
  flex-basis: 35%;
  background-color: #b6584c;
  padding: 10px;
  color: white;
  height: auto;
}

.users h2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  color: white;
}

.users h3 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 15px;
  color: black;
}

.right-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.products {
  flex-basis: 50%;
  background-color: #e6e8d2;
  padding: 10px;
}

.products h2 {
  color: #b85043;
  font-size: 30px;
  letter-spacing: 5px;
}

.products h3 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 8px;
  color: #b85043;
}

.blogs {
  flex-grow: 1;
  background-color: #a7beae;
  padding: 10px;

}

.blogs h2 {
  color: black;
  font-size: 30px;
  letter-spacing: 5px;
}

.blogs h3 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 8px;
  color: white;
}

.lists {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: auto;
}

.lists h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.lists li {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  cursor: pointer;
  width: 15rem;
}

.lists button:hover,
.products-list button:hover,
.blogs-list button:hover {
  font-size: 25px;
  transition: ease-in 0.5s;
}

.users-list,
.shops-list {
  max-height: 760px;
  overflow-y: auto;
  padding-right: 15px;
  overflow-x: hidden;
}

.users-list::-webkit-scrollbar,
.shops-list::-webkit-scrollbar,
.products-listed::-webkit-scrollbar,
.blogs-listed::-webkit-scrollbar {
  width: 15px;
}

.users-list::-webkit-scrollbar-track,
.shops-list::-webkit-scrollbar-track,
.blogs-listed::-webkit-scrollbar-track {
  background: #e6e8d2;
}

.products-listed::-webkit-scrollbar-track {
  background: #bfbfbe;

}

.users-list::-webkit-scrollbar-thumb,
.shops-list::-webkit-scrollbar-thumb,
.products-listed::-webkit-scrollbar-thumb,
.blogs-listed::-webkit-scrollbar-thumb {
  background-color: #3f3e3e;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

.users-list::-webkit-scrollbar-thumb:hover,
.shops-list::-webkit-scrollbar:hover,
.products-listed::-webkit-scrollbar:hover,
.blogs-listed::-webkit-scrollbar:hover {
  background: #201f1f;
}

.products-listed,
.blogs-listed {
  width: 100%;
  max-width: 1200px;
  overflow-x: auto;
}

.products-list,
.blogs-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 355px;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.products-list button,
.blogs-list button,
.lists button {
  float: right;
  margin-top: -3px;
  margin-left: 12px;
  color: rgb(247, 101, 101);
  cursor: pointer;
  font-size: 30px;
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.products-list li {
  width: 200px;
  height: 90px;
  margin: 0 50px 30px 0;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
  border-radius: 5px;
}

.blogs-list li {
  width: auto;
  min-width: 150px;
  height: 120px;
  margin: 0 50px 30px 0;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
  border-radius: 5px;
}


/* MODAL */

.message-modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  border-radius: 4px;
}

.close {
  color: #dedbdb;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Media query for responsiveness */

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .users {
    flex-basis: auto;
    height: auto;
  }

  .right-container {
    flex-direction: column;
  }

  .products,
  .blogs {
    flex-basis: auto;
    height: auto;
    flex-wrap: wrap;
  }
}
