.products-page {
  min-height: calc(100vh-60px);
  display: flex;
  flex-direction: column;
  background-color: #eaeef2;
  height: 85.5vh;

}

.my-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#no-product {
  top: 20rem;
  position: absolute;
  letter-spacing: 2px;
  text-align: center;
  width: 90vw;
  line-height: 40px;
}

.myCard {
  height: 20rem;
  width: 14em;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  background-color: #ffffff;
  border: 1px solid gainsboro;
  cursor: pointer;
}

.card-image {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.card-image img {
  width: 100%;
  height: 100%;
  margin: 0 15px;
}

.card-title {
  position: absolute;
  margin-top: 12.5rem;
  text-align: center;
  z-index: 2;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}

.card-uploaded {
  position: absolute;
  margin-top: 15rem;
  text-align: center;
  z-index: 2;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.card-price {
  position: absolute;
  margin-top: 17.5rem;
  text-align: center;
  z-index: 2;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.seller-h2 {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.mainContainerOrders{
  min-height: calc(100vh-60px);
  display: flex;
  flex-direction: column;
  background-color: #eaeef2;
  height: 85.5vh;}




