.my-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.myCard
{
  height:250px;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.card-image
{
  height:10rem;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.card-title {
    position:absolute;
    margin-top: 10.5rem;
    text-align: center;
    z-index: 2;
    height:25%;
    width:100%;
    font-size: 20px;
    font-weight: bold;
}

.card-price{
    position:absolute;
    margin-top: 13rem;
    text-align: center;
    z-index: 2;
    height:25%;
    width:100%;
    font-size: 18px;
    font-weight: bold;
}

.seller-h2{
    height:25%;
    width:100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}