.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 5rem;
}

.header_items_right li,
.header_items_left li {
  display: inline-flex;
  list-style: none;
  padding: 0.7rem;
}

.header_items_right li a,
.header_items_left li a {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.logo_aurora {
  color: #f87474;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Berkshire Swash', cursive;
}

.header_items_right li a:hover,
.header_items_left li a:hover {
  transition: ease-in-out 0.5s;
  background-color: azure;
}

.icon {
  border-radius: 100%;
  background-color: #f87474;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}