.choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.register-page{
    background-image: url("./bc.jpg");
    background-size: cover;
    height: 87vh;
}
.create-shop,
.become-user {
    width: 25rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 0 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.409);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.top-image img {
    width: 100%;
    height: 18rem;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}


.register-header{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:-20px;
    padding-top: 80px;
    font-weight: bold;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.btn1,
.btn2 {
    background-color: #141c27a6;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 1px 1px 20px 1px rgb(111, 111, 111);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn1:hover,
.btn2:hover {
    font-size: 17px;
}

